<!doctype html>
<html>
  <head>
    <meta charset="utf-8">        
    <title>Daniel's Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='/js/dice-roller.js'></script>
  </head>
  <body onload="DiceRoller()">
    {{{body}}}
  </body>
</html>