<!-- Set container through this page to hold elements for easier structuring and organization.-->
        <div class="bio-container">
            <!-- Element inside the container that holds the bio information.-->
            <div id="bio">
                <h1>Daniel Tujo</h1>
                <img src="/img/profile_photo.jpg" alt="profile-photo" class="profile-photo">
                <hr>
                <a href="mailto:danieltujo@lewisu.edu" target="_blank">danieltujo@lewisu.edu</a><br>
                <a href="https://github.com/LongJohnBlackbeard" target="_blank">GitHub</a><br>
                <a href="https://www.linkedin.com/in/daniel-tujo-068259126/" target="_blank">Linkedin</a>
            </div>
        </div>
        <br>  
        <!-- Another container to hold elements in. This particular one uses flex layout to display element side by side-->
        <div class="projects-container">
            <!-- This "project" element is displayed in flex with skills element below so they appear side by side. Flex is easier to use the inline-block.-->
            <div class="project">
                <h2>Project Highlights</h2>
                <ul>
                    <li><a href="https://agreeable-sand-0bd109910.azurestaticapps.net/" target="_blank">Bio-page</a>
                    <li><a href="https://agreeable-coast-02e41ce10.azurestaticapps.net/" target="_blank">Web Resume</a></li>
                    <li><a href="https://github.com/LongJohnBlackbeard/DataSAIL" target="_blank">Trawler</a></li>
                </ul>
                
                <h2>Other Projects</h2>
                <ul>
                    <li><a href="https://ambitious-beach-001943710.azurestaticapps.net/" target="_blank">Dice Roller</a>
                </ul>
            </div>
            <!-- Skills element mentioned above. Has different images and logos inside this element.-->
            <div class="skills">
                <h2>Skills</h2>
                <img class="logos" src="/img/python-logo.png">
                <img class="logos" src="/img/Java-Emblem.jpg">
                <img class="logos" src="/img/html-logo.png">
                <br>
                <img class="logos" src="/img/CSS3_logo_and_wordmark.svg.png">
                <img class="logos" src="/img/js-logo.jpg">
                <img class="logos" src="/img/c-lang-logo.png">
                <br>
                <img class="logos" src="/img/MySQL-Logo.png">
                <img class="logos" src="/img/orange-data-mining.png">
                <img class="logos" src="/img/Git-logo.png">
                <br>
                <img class="logos" src="/img/github.png">
                <img class="logos" src="/img/agile.jpg">
                <img class="logos" src="/img/scrum.png">
            </div>
            
        </div>

