<link rel="stylesheet" href="/css/resume.css">
<!-- Buttons for printing and going to regexp page         -->
        <button onclick="window.print()">Print this page</button>
        <button onclick="window.location.href='/regexp';" target="_blank">RegExp Page</button>
        <br>
        <h1 class="centered">Daniel Tujo</h1>
        <hr>
        <!-- Div element that acts as a container to hold link elements -->
        <div id="info-p">
            <p>
                <a href="https://www.linkedin.com/in/daniel-tujo-068259126/" target="_blank">https://www.linkedin.com/in/daniel-tujo-068259126/</a>
                | | <a href="https://github.com/LongJohnBlackbeard" target="_blank">https://github.com/LongJohnBlackbeard</a>
                | | <a href="mailto:danieltujo@lewisu.edu" target="_blank">tujo1992@gmail.com</a>
                | | 708.929.8086

            </p>

        </div>
        <hr>
        <!-- Again, container to hold the different catogories of the resume. Allows for easier structuring of elements.
        Each subcatagory starts with a h2 header. Some catagories have lists, others dont.-->
        <div id="groups">
            <h2 class="subject-header">HIGHLIGHTS OF QUALIFICATIONS</h2>
            <hr>
            <ul>
                <li>Developed and expanding project in DataSAIL club that involves data mining, data transforming, 
                    data pipline, and database management. Preperating data to be further used in machine learning and
                    displayed in a web application.
                </li>
                <li>Problem solving and communication skills gained from 2 years of service industry experience and 5
                    years military experience.</li>
                <li>Several Years of Mentoring and Training experience from military service and as assistant manager
                    at Lucky E Garage.</li>
            </ul>
            <h2 class="subject-header">SUMMARY OF TECHNICAL QUALIFICATIONS</h2>
            <hr>
            <h3>OPERATING SYSTEMS</h3>  
            <ul>
                <li>Windows, Linux</li>
            </ul>
            <h3>NETWORKING</h3>  
            <ul>
                <li>Cisco Networking Academy</li>
            </ul> 
            <h3>LANGUAGES</h3>  
            <ul>
                <li>Python, Java, C, HTML, CSS, Javascript, MySQL</li>
            </ul> 
            <h3>APPLICATIONS</h3>  
            <ul>
                <li>Microsoft office, Orange, Microsoft Teams, VirtualBox, PowerShell, Git, 
                    Github, Microsoft Azure, Putty, Mariah DB, IntelliJ, PyCharm, VS code, Cygwin</li>
            </ul> 
            <h3>HARDWARE/SYSTEMS</h3>  
            <ul>
                <li>PC, Cloud, Virtualization</li>
            </ul> 


            <h2 class="subject-header">EDUCATION</h2>
            <hr>
            <h3><b>Lewis University</b><span class="right">Fall 2022</span></h3>
            <p class="indent">BS in Computer Science, Concentrating in Artificial Intelligence
            </p>
            <h2 class="subject-header">PROJECTS</h2>
            <hr>
            <h3><b>Trawler</b></h3>
            <p class="indent">DataSAIL club project at Lewis University <br>
                Project aimed at correlating reddit mentions of stock tickers and their price and volume</p>
            <h2 class="subject-header">RESEARCH AND PRESENTATIONS</h2>
            <hr>
            <h3>Presentations</h3>
            <p class="indent">Combat Hunter Trainer (2013-2016). Was a certified Combat Hunter Trainer in the USMC. Along
                with few other Marines being the subject matter experts responsible of training other Marines of the
                unit in the principles and procedures of observation, tracking, and profiling.</p>
            <h2 class="subject-header">EXPERIENCE</h2>
            <hr>
            <h3><b>Peer Advisor for Veterans Education</b><span class="right">September 2021 - Present</span></h3>
            <p class="indent">Lewis University</p>
            <ul>
                <li>Provide support and resources for veterans attending Lewis University.</li>
            </ul>
            <h3><b>Delivery Driver</b><span class="right">April 2020 - August 2020</span></h3>
            <p class="indent">Amazon</p>
            <ul>
                <li>Delivered product in a safe and efficient manner to customers across a broad area.</li>
            </ul>
            <h3><b>Assistant Manager and Mechanic</b><span class="right">August 2018 - December 2020</span></h3>
            <p class="indent">Lucky 'E' Garage</p>
            <ul>
                <li>Use of several tools and systems to diagnose, and fix vehicle issues.</li>
                <li>Responsible for mainting inventory and sourcing parts through several distributors.</li>
            </ul>
            <h3><b>Bartender</b><span class="right">July 2018 - March 2020</span></h3>
            <p class="indent">Stats Bar and Grill, Possum's Pub</p>
            <ul>
                <li>Used interpersonal skills to provide service to customers in a restraunt and bar setting.</li>
            </ul>
            <h3><b>Unarmed Security</b><span class="right">April 2017 - June 2018</span></h3>
            <p class="indent">Arms Security Corp.</p>
            <ul>
                <li>Provided security for various clients including entertainment venues, commercial stores, and warehouses.</li>
            </ul>
            <h3><b>Assembler</b><span class="right">December 2016 - April 2017</span></h3>
            <p class="indent">Knack and Weatherguard through Express employment</p>
            <ul>
                <li>Assembled products efficiently and effectively in a timely manner using various power tools.</li>
                <li>Responsible with inspecting the product and making sure it fits all specification before shipping
                    to customer.
                </li>
            </ul>
            <h3><b>Part's Specialist</b><span class="right">July 2016 - December 2016</span></h3>
            <p class="indent">O'reilly Auto Parts</p>
            <ul>
                <li>Communicate with walk-in and commercial customers to find and provide the right tool or 
                    part for the job.</li>
                <li>Required detailed knowledge of automobile parts and systems.</li>
            </ul>
            <h3><b>Infantry Team Leader</b><span class="right">June 2011 - June 2016</span></h3>
            <p class="indent">United States Marine Corps</p>
            <ul>
                <li>Responsible in training and leading 3-5 Marines in unit missions.</li>
                <li>Constant training in leadership and mentoring.</li>
                <li>Conduct monthly counseling with junior Marines which evaluates all areas of 
                    their job and provides guidance on ways to increase performance.</li>
            </ul>
            <h2 class="subject-header">HONORS AND WARDS</h2>
            <hr>
            <h3><b>2nd BN/1st Marines</b></h3>
            <p class="indent">2 Meritorious Mast's</p>
            <h2 class="subject-header">LEADERSHIP, ACTIVITIES, AND VOLUNTEER EXPERIENCE</h2>
            <hr>
            <h3><b>Member</b><span class="right">Febuary 2020 - Present</span></h3>
            <p class="indent">DataSAIL at Lewis University</p>
            <br>
            <h3><b>Volunteer</b><span class="right">2018 - 2019</span></h3>
            <p class="indent">Lift for the 22</p>
            <br>
            <br>
            <br>
            
            
                        
        </div>